.container{
    margin-top: 250px;
    width: 50%;
}
.button-div{
    /* border: 10px solid red; */
    align-self: center;
    align-items: center;
    justify-content: center;
    display: flex;
}
button {
    margin: 10px;
}