
<h3>click on buttons to change its color</h3><br>
<div class="container">
    <div>

    </div>
    <div>

        <button  [style.background]="buttonColor" #blueButton (click)="changeColor('blue')">
            Blue
        </button>
        <button  [style.background]="buttonColor" #greenButton (click)="changeColor('green')">
            Green
        </button>
        <button  [style.background]="buttonColor" #redButton (click)="changeColor('red')">
            Red
        </button>
    </div>
</div>
